
:root {

    --arrowAreaWidth: 50px;
    --arrowAreaColor: rgba(100, 100, 100, 0.25);
    --arrowAreaSelectedColor: rgba(100, 100, 100, 0.5);
    --arrowColor: rgb(255, 255, 255);
    --imageSize: 80%;
    --viewerColor: rgb(0, 0, 255);
}

/*=======================================================================*/

html {

    width: 100%;
    height: 100%;
}

body {

    display: flex;
    flex-flow: column;
    
    margin: 0px;
    height: 100%;
    
}

header {

    /* height: 0px; */

    z-index: 30;
    
    background-color: white;
    border-bottom: 1px solid black;
}

main {

    flex-grow: 1;

    display: flex;
    flex-flow: row;

    position: relative;

    width: 100%;

    overflow: hidden;

    background-color: var(--viewerColor);
}

footer {

    height: 0px;

    z-index: 30;

    background-color: white;
    border-top: 1px solid black;
}

/*=======================================================================*/

#control {

    display: flex;
    flex-flow: row;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}


#center {

    flex-grow: 1;
}

#left,#right {

    /*内側の要素を中央揃え*/
    display: flex;
	justify-content: center;
	align-items: center;

    width: var(--arrowAreaWidth);
    height: 100%;
    
    z-index: 20;

    background-color: var(--arrowAreaColor);

    transition: all 300ms 0s ease;
}

#left:hover,#right:hover {

    background-color: var(--arrowAreaSelectedColor);
}

/*=======================================================================*/

#left_arrow,#right_arrow {
    
    /*サイズを決定*/
    width: 10px;
    height: 10px;

    /*サイズの上と右に線を描画*/
    border-top: 3px solid var(--arrowColor);
    border-right: 3px solid var(--arrowColor);

    transition: all 300ms 0s ease;
}

#left_arrow {

    /*全体を傾ける*/
    transform: rotate(225deg);
}

#right_arrow {

    /*全体を傾ける*/
    transform: rotate(45deg);
}

#left:hover #left_arrow {

    margin-right: 10px;
}

#right:hover #right_arrow {

    margin-left: 10px;
}

/*=======================================================================*/

#viewer {

    /*内側の要素を中央揃え*/
    display: flex;
	justify-content: center;
	align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    
    z-index: 10;
}

#viewer > img {

    width: var(--imageSize);
    height: var(--imageSize);
    user-select: none;
    object-fit: contain;
}
